<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel='stylesheet' href='/stylesheets/style.min.css' />

<title><%= title %></title>
</head>

<body class="bg-slate-100">

<div class="bg-white p-5 m-auto">
<h2 class="m-10 text-center text-4xl">Testaments</h2>

<div class="grid grid-cols-6 gap-3">
  <% for (let letter of '12abcdefghijklmnopqrstuvwxyz'.split('')) {
%>
<div class="shadow-md text-center p-3 bg-gray-200">
   <a href="/match?tag=<%- letter %>"> <%- letter.toUpperCase() %></a>
   </div>
<% } %> 
</div>

</div>





</body>
</html>